#ifndef G474_GPC_CONFIG_MEMORY_HPP_
#define G474_GPC_CONFIG_MEMORY_HPP_

#include "config_memory.hpp"
#include "distributed_can_id.hpp"
#include "PayloadTypes.hpp"

volatile static const FLASH_CONFIG_SECTION ConfigMemory G_CONFIG_READ_ONLY_MEMORY = {
    .config_type = {
        .name = "{{ config_name }}",
        .type = ConfigTypeEnum::GPC_CONFIG,
    },
    .bluelink_identity_config = {
        .component_id = bluelink::ComponentId::{{ component_id }},
    },
    .sequences_config = {
        .powerup_sequence = {
            .step_count = {{ powerup_step_count }},
            .steps = {
{% with steps=powerup_steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .main_tick_sequence = {
            .step_count = {{ main_tick_step_count }},
            .steps = {
{% with steps=main_tick_steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .init_state_sequence = {
            .step_count = {{ state_sequence_fields.init_state_sequence.step_count }},
            .steps = {
{% with steps=state_sequence_fields.init_state_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .manual_state_tick_sequence = {
            .step_count = {{ state_tick_fields.manual_state_tick_sequence.step_count }},
            .steps = {
{% with steps=state_tick_fields.manual_state_tick_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .disengagement_state_sequence = {
            .step_count = {{ state_sequence_fields.disengagement_state_sequence.step_count }},
            .steps = {
{% with steps=state_sequence_fields.disengagement_state_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .engaged_state_tick_sequence = {
            .step_count = {{ state_tick_fields.engaged_state_tick_sequence.step_count }},
            .steps = {
{% with steps=state_tick_fields.engaged_state_tick_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .power_up_bit_state_sequence = {
            .step_count = {{ state_sequence_fields.power_up_bit_state_sequence.step_count }},
            .steps = {
{% with steps=state_sequence_fields.power_up_bit_state_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .operational_state_tick_sequence = {
            .step_count = {{ state_tick_fields.operational_state_tick_sequence.step_count }},
            .steps = {
{% with steps=state_tick_fields.operational_state_tick_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .error_state_tick_sequence = {
            .step_count = {{ state_tick_fields.error_state_tick_sequence.step_count }},
            .steps = {
{% with steps=state_tick_fields.error_state_tick_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .emergency_state_tick_sequence = {
            .step_count = {{ state_tick_fields.emergency_state_tick_sequence.step_count }},
            .steps = {
{% with steps=state_tick_fields.emergency_state_tick_sequence.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
            },
        },
        .binding_count = {{ binding_count }},
        .bindings = {
{% for b in bindings %}
            {
                .trigger = {
                    .payload_type = bluelink::PayloadTypeIds::{{ b.payload_type }},
                    .size = {{ b.data_size }},
                    .data = { {{- b.data_init -}} },
                },
                .sequence = {
                    .step_count = {{ b.step_count }},
                    .steps = {
{% with steps=b.steps %}
{% include "_micro_op_steps.j2" %}
{% endwith %}
                    },
                },
            },
{% endfor %}
        },
        .telemetry_config = {
            .binding_count = {{ telemetry_binding_count }},
            .bindings = {
{% for tb in telemetry_bindings %}
            {
                .payload_type = bluelink::PayloadTypeIds::{{ tb.payload_type }},
                .payload_size = {{ tb.payload_size }},
                .rate_hz = {{ tb.rate_hz }},
                .field_count = {{ tb.field_count }},
                .fields = {
{% for field in tb.fields %}
                    { {{ field.byte_offset }}, {{ field.byte_size }}, {{ field.var_index }} },
{% endfor %}
                },
            },
{% endfor %}
            },
        },
    },
};

#endif  // G474_GPC_CONFIG_MEMORY_HPP_
